@import "./Vars.scss";
@import "./Media.scss";

body {
    margin: 0;
    font-family: $theme-font;
    //background: linear-gradient(#21c083, #ab8bff);
    background-color: $main-color;
  }
  *{
    box-sizing: border-box;
  }
